.homepage {

    .directory-menu {
        min-height: 100vh;
        padding: 1rem;

        .item {
            min-height: 400px;
            min-width: 400px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            a {
                text-decoration: none;
            }

            .background-image {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                cursor: pointer;

            }

            .content {
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                background-color: rgba(0, 0, 0, 0.587);
                padding: 1rem;
            }


            &:hover {
                & .background-image {
                    transform: scale(1.123);
                }

                & .content {
                    letter-spacing: 5px;
                }
            }


            @media (max-width:1330px) {
                min-width: 400px;
            }

            @media (max-width:1030px) {
                min-width: 40%;
            }

            @media (max-width:700px) {
                min-width: 100%;
            }
        }
    }
}