.shop-page {
    min-height: 100vh;

    .collection-category {
        padding-bottom: 2rem;

        .item-list {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            justify-content: center;

            .collection-item {
                background-image: linear-gradient(to top, #ffffff 0%, #525252 100%);
                border-radius: 20px;

                img {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                }

                .item-info {
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                }


            }


        }
    }
}